.comment{
    text-align: left;
}

.comment-header{
    display: flex;
    gap: 20px;
}

.comment-author{
    font-size: 25px;
    font-weight: 600;
}

.comment-time{
    font-size: 20px;
    margin-top: 4px;
}

.comment-list{
    margin-top: 20px;
}